# Brightway project directory that holds the imported BAFU database + EF method.
# Must be set before bw2data is imported (the script loads this file first).
BRIGHTWAY2_DIR=/home/dadafkas/Prelab/ecobalyse/brightway-dirs/2392-EF3.1_1.03

EB_PROJECT=ecobalyse
EB_METHOD=Environmental Footprint 3.1 (adapted)
EB_BIOSPHERE=biosphere3
EB_DATABASE=BAFU 2026v1
